/* HOMEPAGE */
.home-hero {
	background: url('../images/hero-bg.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.home-card-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#home-hero-image {
    position: relative;
    max-width: 400px;

    img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        opacity: 0;
        display: block;
        transition: .5s ease-in-out opacity;
    }

    img#first-hero-image {
        position: static;
        z-index: 1;
        opacity: 1;
    }

    img.active-hero-image {
        opacity: 1;
        z-index: 2;
    }
}

@media (min-width: 768px) {
    #home-hero-image {
        max-width: 600px;
    }
}

.card-deck .home-who-is-card {
	min-width: 280px;
	transition: background-color .2s ease-in-out;
	background-color: $gray-100;

	a:hover {
		text-decoration: none;
	}

	svg #icon {
		fill: $gray-600;
		transition: all .2s ease-in-out;
	}
}

.card-deck .home-who-is-card:hover {
	svg #icon {
		fill: $info;
	}
}

	@media (min-width: 576px) {
		.card-deck .home-who-is-card {
			margin-bottom: 1rem;
		}
	}

// Neuly Knows
.neuly-knows {

	.title {
		font-size: 3rem;
		font-weight: 700;
		font-family: $headings-font-family;
	}

	.lead {
		font-weight: 500;
		color: $gray-800;
		text-transform: uppercase;
	}
}

.neuly-knows .nk-item {
    transition: transform .2s;
}
.neuly-knows .nk-item:hover {
    transform: scale(1.2);
}
.neuly-knows .nk-item:hover .counters {
    color: #73FBD3 !important;
}

@media (min-width: 768px) {
	.neuly-knows {

		.title {
			font-size: 2.8rem;
		}

		.lead {
			font-size: 1rem;
		}
	}
}

@media (min-width: 992px) {
	.neuly-knows {

		.title {
			font-size: 4rem;
			line-height: 4.2rem;
		}

		.lead {
			font-size: 1.2rem;
		}
	}
}

@media (min-width: 1200px) {
	.neuly-knows {

		.lead {
			font-size: 1.4rem;
		}
	}
}

// Featured Image
.news-featured-image {
	width: 100%;
	height: 150px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
}

.job-org-logo {
	width: 100px;
	height: 60px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
}

// Icon Images
.icon-image-people,
.icon-image-organizations,
.icon-image-jobs {
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;

	img, svg {
		width: 120px;
		height: 120px;
	}
}
