/* Navbars */
#primary-nav {
	padding: .5rem 1rem .5rem 0;
}

@media (min-width: 576px) and (max-width: 1200px) {
    #primary-nav .nav-item {
        font-size: 0.9rem;
    }
}

.embed #primary-nav {
    z-index: 999;
}

.navbar-nav {
	padding-left: 1rem;
}

// Brand
.navbar-brand {

	img {
		height: 30px;
		width: auto;
	}
}

// Register Link
.navbar-dark .navbar-nav .nav-link.register {
	text-transform: uppercase;
	font-weight: 700;
	color: lighten($blue, 5%);
}

.navbar-dark .navbar-nav .nav-link.register:hover {
	color: lighten($blue, 8%);
}

@media (min-width: 992px) {

	.navbar-dark .navbar-nav .nav-link {
		margin-left: .5rem;
		margin-right: .5rem;
	}

	.navbar-dark .navbar-nav .nav-link:last-of-type {
		margin-right: 0;
	}

	.navbar-dark .navbar-nav .nav-link.register {
		padding: .25rem .75rem;
		margin-top: .25rem;
		margin-left: 1rem;
		background: $blue;
		color: $white;
		border-radius: 2rem;
		transition: all .1s ease-in-out;
	}

	.navbar-dark .navbar-nav .nav-link.register:hover {
		background: darken($blue, 5%);
		color: $white;
	}
}

// Anchor Drop Down Menu to the Right (default is Left)
.dropdown-menu-anchor-right {
	right: 0;
	left: auto;
}

// User Name
.nav-user-dropdown {
    display: flex;
    align-items: center;
}

.nav-user-name {
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

@media (min-width: 992px) {
    .nav-user-name {
        max-width: 80px;
    }
}

@media (min-width: 1201px) {
    .nav-user-name {
        max-width: 200px;
    }
}
