/* TABLES */
table.auto-width {
	width: auto;
}

// Primary Index Table
table.primary-index-table {
	font-size: .9rem;
}

// Primary Index Table -- Top Border on Desktop Only
@media (min-width: 992px) {
	.border-top-desktop-only {
		border: 0 !important;
		padding: 0 !important;
	}
}

// Primary Index Table -- Less than Large Screens
@media (max-width: 991px) {
	table.primary-index-table {

		thead {
			display: none;
		}

		tr {

			border-bottom: 2px solid #ccc;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;

			td {
				width: 100% !important;
				border: 0;
			}

			td:first-of-type {
				padding-top: 1.5rem;
			}

			td:last-of-type {
				padding-bottom: 1.5rem;
			}

			td.ownership:before {
				content: "Type: ";
				font-weight: 700;
			}

			td.focus:before {
				content: "Focus: ";
				font-weight: 700;
			}

			td.location:before {
				content: "Location: ";
				font-weight: 700;
			}

			td.company:before {
				content: "Organization: ";
				font-weight: 700;
			}
		}

		button.load-ajax-modal {
			font-size: 1.3rem;
		}
	}
}

// Index Table Footer
table#index tfoot {
	display: none;
}

/*
 * Data Table Customizations
 */

// Table Heading Arrows
table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_desc_disabled::before,
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
	font-weight: 400;
}

// Custom Filters Links
.custom-filters a,
.custom-filters a:hover {
	text-decoration: none;
}

// Show # Entries and Search
#index_length,
#index_filter {
	padding-top: .25rem;
	padding-bottom: .5rem;
}

#index_length label,
#index_filter label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: auto;
	flex-wrap: wrap;

	select {
		max-width: 80px;
		margin-left: .5rem;
		margin-right: .5rem;
	}

	input {
		max-width: 250px;
		margin-left: .5rem;
		margin-right: .5rem;
	}

}

#index_length label select {
	max-width: 80px;
}

@media (min-width: 768px) {
	#index_filter label {
		justify-content: flex-end;

	}
}

#index_paginate {
	.pagination {
		flex-wrap: wrap;
	}
}

/* Resizable Tables */
.resizable {
    resize: both;
}

#resizable-fullscreen-table-container {
    height: 60vh;
    overflow-y: scroll;
    resize: both;
    border: 1px solid #454d55;
    margin-right: 2rem;
}

#resizable-fullscreen-table-container .position-relative {
    z-index: 1;
}

#resizable-fullscreen-table-container.fixed {
    position: fixed;
    display:  block;
    top:  0;
    left:  0;
    width:  100%;
    height:  100%;
    z-index:  1031;
    background: rgba(0, 0, 0, .80);
    padding:  0 2rem 2rem 2rem;
}

#close-full-screen-table {
    position:  fixed;
    z-index:  1032;
    top: 3rem;
    right:  1rem;
}

/* Table with All Borders */
#resizable-table-with-all-borders {
    border: 0;

    .sticky-top {
        top: -2px;
        z-index: 2;
        outline: 2px solid #454d55;
        outline-offset: -1px;
    }

    td,
    th {
        border-top: 0 !important;
        border-bottom: 1px solid #dee2e6;
        border-left: 0 !important;
        border-right: 1px solid #dee2e6;
    }

    tr td:first-of-type,
    tr th:first-of-type {
        border-left: 0 !important;
    }

    tr td:last-of-type,
    tr th:last-of-type {
        border-right: 0 !important;
    }

    .fixed .position-relative {
        height: 100%;
    }
}

/* Location Maps */
#resizable-table-with-x-borders .sticky-top {
    top: -2px;
    z-index: 2;
    outline-top: 2px solid #454d55;
    outline-bottom: 2px solid #454d55;
    outline-offset: -1px;
}

table {
    .size-130 {
        min-width: 130px;
    }

    .size-150 {
        min-width: 150px;
    }

    .size-200 {
        min-width: 200px;
    }

    .size-250 {
        min-width: 250px;
    }

    .size-400 {
        min-width: 400px;
    }
}
