body.app {
    background-color: #1a1a1a;
    color: #fefefe;
    font-family: "DM Sans", sans-serif;
}

.bg-light {
    background-color: #1a1a1a !important;
    color: #fefefe;
}

.bg-white {
    background-color: #111 !important;
    color: #dedede;
}

a {
	color: #5b62bd;
}

a:hover {
    color: #454a91;
}

.sidebar-pills a:not(.active),
.sidebar-pills a:not(.open),
.sidebar-pills a:not(:active),
.sidebar-pills a:not(:focus),
.sidebar-pills a:not(:hover),
.sidebar-pills li {
	color: #c5c5c5 !important;
}

.sidebar .nav-link {
    font-weight: 600;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
	color: #454a91 !important;
	background-color: rgba(0,0,0,.02);
    font-weight: 600;

    .nav-icon {
        color: #176F55;
    }
}

.sidebar .nav-link.active .nav-icon,
.sidebar .nav-link:hover .nav-icon {
	color: #454a91;
}

.sidebar .nav-link .nav-icon {
	display: inline-block;
	width: 1.25rem;
	margin: 0 0.5rem 0 0;
	font-size: 1rem;
	color: #176F55;
	text-align: center;
}

.sidebar.sidebar-pills .nav-link.active {
	font-weight: 600;
    text-transform: uppercase;
}

.sidebar .sidebar-nav,
.sidebar .sidebar-scroll {
	width: 300px;
}

.sidebar .nav {
    width: 300px;
    padding-right: 2rem;
}

.app-header.bg-light .navbar-brand {
    opacity: 1;
}

.backpack-logo {
    width: 140px;
    height: auto;
    margin-top: .5rem;
}

.app-body .main {
    padding-left: 3rem;
}

.badge-default {
    background-color: #454a91;
    color: #fff;
}

.btn {
    font-weight: 600;
    border-radius: 1.5rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.btn-link {
    color: #5b62bd;
}

.btn-link:hover {
    color: #5b62bd;
}

.btn-light {
	color: #fefefe;
	background-color: #222;
	border-color: #2a2a2a;
}

.btn-primary,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	color: #fff;
	background-color: #1d8c6b;
    border-color: #1d8c6b;
}

.btn-primary:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #fff;
	background-color: #176F55;
    border-color: #176F55;
}

.btn-success {
    background-color: #1d8c6b;
    border-color: #1d8c6b;
    color: #fefefe;
}

.btn-success:hover {
    background-color: #176F55;
    border-color: #176F55;
    color: #fefefe;
}

.btn-warning {
    background-color: #676767;
    border-color: #676767;
    color: #fefefe;
}

.btn-warning:hover {
    background-color: #5d5c5c;
    border-color: #5d5c5c;
    color: #fefefe;
}

.btn-info {
    background-color: #454a91;
    border-color: #454a91;
    color: #fefefe;
}

.btn-info:hover {
    background-color: #3c407e;
    border-color: #454a91;
    color: #fefefe;
}

.form-control {
    background-color: #222 !important;
    color: #fefefe;
    border-color: #2a2a2a;

    &:focus {
        color: #fefefe;
        border-color: #454a91;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(69, 74, 253, 0.25);
    }
}

.custom-control-input:checked~.custom-control-label:before {
	color: #fff;
	border-color: #454a91;
	background-color: #454a91;
}

select.form-control {
    appearance: none;
    min-width: 80px;
    background-color: #222 !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}


.select2-dropdown {
    background-color: #222 !important;
    color: #fefefe;
    border-color: #2a2a2a !important;
}

.select2-container,
.select2-container--bootstrap {
    .select2-selection,
    &.select2-container--focus .select2-selection,
    &.select2-container--open .select2-selection {
        background-color: #222 !important;
        color: #fefefe;
        border-color: #2a2a2a !important;
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: #7c69ef !important;
    }
    .select2-results__option[aria-selected=true] {
        background-color: #454a91 !important;
        color: #fefefe !important;
    }
    .select2-selection .select2-selection__choice,
    .select2-selection--multiple .select2-selection__choice {
        color: #dedede !important;
        background: #454a91 !important;
        border-color: #454a91 !important;
    }
}

.navbar-filters li>a:active,
.navbar-filters .navbar-nav>.active>a,
.navbar-filters .navbar-nav>.active>a:focus,
.navbar-filters .navbar-nav>.active>a:hover,
.navbar-filters .navbar-nav>.open>a,
.navbar-filters .navbar-nav>.open>a:focus,
.navbar-filters .navbar-nav>.open>a:hover {
    background-color: #7c69ef !important;
}

div.dataTables_wrapper div.dataTables_length select {
    min-width: 80px !important;
    color: #fefefe;
    border-color: #2a2a2a;
}

.card {
	background-color: #111;
	background-clip: border-box;
	border-color: #2a2a2a;
	border-radius: 1.25rem;
    color: #fefefe;
}

.text-muted {
    color: #676767 !important;
}

.item-checkbox-container .custom-checkbox label.selected {
	background: #6bbca4 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #1c1c1c;
}

.table-striped tbody tr:hover {
    background-color: rgba(69, 74, 145, .6) !important;
    color: #dedede;
}

.table {
    color: #fefefe;
    thead,
    tfoot {
        background-color: #000;
    }
}

.page-item.active .page-link {
	z-index: 1;
	color: #dedede;
	background-color: #454a91;
	border-color: #454a91;
}

.page-item .page-link:hover {
    background-color: #454a91;
    color: #dedede;
}
.pagination>li {
    border-radius: 5px;
}
.pagination>li>a,
.pagination>li>span {
    background: transparent !important;
    border: none !important;
    border-radius: 5px;
}

.pagination>li>a {
    color: #dedede !important;
}

.pagination .page-item.active,
.pagination .page-item .page-link:hover {
    background-color: #454a91 !important;
}

.input-group-append > span,
.input-group-prepend > span {
    background-color: #2a2a2a;
    border-color: #2a2a2a;
    color: #dedede;
}

.datepicker-dropdown {
    background-color: #000000;
    color: #dedede;
}

.custom-file .custom-file-label,
.custom-file .custom-file-label:after{
    background-color: #222 !important;
    border-color: #222;
    color: #fefefe;
}
