@import 'variables';

.enterprise-dashboard-container {
    .text-body-emphasis {
        color: $gray-200 !important;
    }
    .text-body {
        color: $gray-500 !important;
    }

    .form-control::placeholder {
        color: $gray-500 !important;
    }
}

.enterprise-dashboard-controls {
    padding: 1rem .25rem 2rem .25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .btn-info {
        border-radius: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.enterprise-widget-grid {
    display: flex;
    flex-wrap: wrap;
}

.widget-column {
    width: calc(100% - .5rem);
    min-height: 5rem;
    margin: .25rem .25rem 3rem .25rem;
    border: 2px solid transparent;
}

.widget-column.has-dragging .widget-title .dropdown {
    opacity: 0;
}

.has-dragging {
    border-color: #1d8c6b;
}

@media (min-width: 768px) {
    .widget-column {
        width: calc(50% - .5rem);
    }

    .widget-column[data-size="large"] {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .widget-column {
        width: calc(33.3% - .5rem);
    }

    .widget-column[data-size="large"] {
        width: calc(66.6% - .5rem);
    }
}

@media (min-width: 1500px) {
    .widget-column {
        width: calc(25% - .5rem);
    }

    .widget-column[data-size="large"] {
        width: calc(50% - .5rem);
    }
}

.enterprise-widget {
    padding: .5rem 1rem 1rem 1rem;
    width: 100%;
    position: relative;
    margin-bottom: .5rem;

    .widget-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
        color: $gray-300;

        .widget-collapse-label[aria-expanded=false] {
            span:before {
                content: "Show";
                margin-right: .25rem;
            }
        }

        .widget-collapse-label[aria-expanded=true] {
            span:before {
                content: "Collapse";
                margin-right: .25rem;
            }
        }

        .btn.collapse-title {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            flex-grow: 1;
            margin-right: .75rem;
            color: $gray-200
        }

        .btn:focus {
            outline: none;
            box-shadow: none;
        }

        .btn.collapse-title:hover {
            cursor: pointer;
        }

        .btn.collapse-title[aria-expanded=false]:after {
            content: "\f055";
            font-weight: 300;
            font-family: "Font Awesome 5 Pro";
            font-size: 1rem;
            color: $gray-600;
        }

        .btn.collapse-title[aria-expanded=true]:after {
            content: "\f056";
            font-weight: 300;
            font-family: "Font Awesome 5 Pro";
            font-size: 1rem;
            color: $gray-600;
        }

        .btn.settings {
            font-size: 2rem;
            color: $gray-600;
            padding: .25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.5rem;
        }
    }

    .enterprise-widget-content {
        position: relative;
    }

    .cf-feed-icon {
        width: 36px;
        height: 36px;
        margin-right: 1rem;
        margin-top: .5rem;
        flex-shrink: 0;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .logo-icon {
        width: 48px;
        height: 48px;
        margin-right: 1rem;
        margin-top: .5rem;
        flex-shrink: 0;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .cf-neutral-icon {
        width: 36px;
        height: 36px;
        margin-right: 1rem;
        margin-top: .5rem;
        flex-shrink: 0;
        font-size: 1.8rem;
        color: $gray-600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.enterprise-widget.is-dragging,
.enterprise-widget.is-positioning-post-drag {
    border-color: #1d8c6b;
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsl(0, 2%, 88%);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.enterprise-toggle-switch {
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    border: 0;
    padding: 0;
    border-radius: 1rem;

    .off,
    .on {
        padding: 0 .5rem;
        width: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        z-index: 2;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        overflow: hidden;
    }

    .off {
        background: #3f4485;
        border-color: #3f4485;
        color: $gray-400;
    }

    .on {
        background: $teal;
        border-color: $teal;
        color: $white;
    }

    .label {
        border-radius: 1rem;
        border: 1px solid #3f4485;
        display: block;
        height: 100%;
        position: relative;
        z-index: 1;
        padding: 0.25rem 0.5rem 0.25rem 3.5rem;
        color: $gray-300;
    }
}

.enterprise-toggle-switch[data-drag="false"] {
    .on {
        left: -3rem;
    }

    .off {
        left: 0;
    }
}

.enterprise-toggle-switch[data-drag="true"] {
    .off {
        left: -3rem;
    }

    .on {
        left: 0;
    }

    .label {
        border-color: $teal;
    }
}

.has-accordion-arrow[aria-expanded=false]:after {
    font: var(--fa-font-solid);
    content: "\f107";
}

.has-accordion-arrow[aria-expanded=true]:after {
    font: var(--fa-font-solid);
    content: "\f106";
}

#collapse-all-widgets-toggle {
    min-width: 185px;
    text-align: left;
}

#collapse-all-widgets-toggle[data-collapsed=false] {
    .icon:before {
        content: "\f056";
        font-weight: 300;
        font: var(--fa-font-solid);
    }
    span:before {
        content: "Collapse";
        margin-right: .5rem;
    }
}

#collapse-all-widgets-toggle[data-collapsed=true] {
    .icon:before {
        content: "\f055";
        font-weight: 300;
        font: var(--fa-font-solid);
    }
    span:before {
        content: "Open";
        margin-right: .5rem;
    }
}

.widget-controls {
    position: relative;
    color: $gray-500;

    .btn-sm {
        color: $gray-500;
    }

    .filter-checkboxes {
        position: absolute;
        z-index: 4;

        .filter-group {
            background: $black;
            color: $gray-400;
            border-color: $gray-700 !important;
        }

        .custom-control-label {
            white-space: nowrap;
        }
    }
}

.ui-draggable {
    cursor: move;
}

.ui-draggable:hover {
    cursor: move;
    border-color: $gray-200;
}

.ui-draggable-disabled:hover {
    cursor: auto;
    border-color: transparent;
}

.portlet-placeholder {
    background: #1d8c6b;
    height: 5rem;
}

.ui-sortable-disabled .drag-handle {
    display: none;
}

.drag-handle {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    color: #5b62bd;
    z-index: 2;
    font-size: 1.25rem;
}

.drag-handle:hover {
    cursor: move;
}

.filter-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.resizable-widget-container {
    resize: vertical;
    border: 1px solid $gray-800;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100px;
}

#widget-collapse-team {
    .form-control {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        padding-left: 1rem;
    }
}

.enterprise-dashboard-page {
    background-color: #1a1a1a !important;

    .recently-viewed-image {
        img {
            filter: invert(1);
            opacity: .8;
        }
    }

    a {
        color: #5b62bd;
    }

    a:hover {
        color: #454a91;
    }

    .text-info {
        color: #1d8c6b !important;
    }

    .text-quaternary,
    .text-danger,
    .text-secondarydark,
    .text-black-50 {
        color: $gray-500 !important;
    }

    .text-dark {
        color: $gray-500 !important;
    }

    .text-dark:hover {
        color: $gray-600 !important;
    }

    .btn-primary {
        border-radius: 1rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        color: $gray-400;
    }

    .btn-primary:hover {
        color: $gray-300;
    }

    .ampopup-header {
        background: $primary;
    }

    .navbar.navbar-dark {
        background-color: $black !important;
    }

    .dropdown-menu,
    .enterprise-team-widget-container {
        background: $black;
        color: $gray-400;
        border-color: $gray-700;
    }

    .enterprise-team-widget-container {
        padding: 1.5rem;
        border: 1px solid $gray-700;
    }

    .dropdown-item {
        color: $gray-300;
    }

    .dropdown-item:disabled {
        color: $gray-600;
    }

    .dropdown-item:hover {
        background: $info;
        color: $gray-300;
    }

    .list-group {
        border-color: $gray-800 !important;
    }

    .list-group-item {
        background: $black;
        color: $gray-400;
        border-color: $gray-800;
    }

    .form-control {
        background-color: $black;
        color: $gray-400;
        border-color: $gray-800;
    }

    .modal-header {
        border-color: $gray-800;
    }

    .table {
        --bs-table-color-type: initial;
        --bs-table-bg-type: initial;
        --bs-table-color-state: initial;
        --bs-table-bg-state: initial;
        --bs-table-color: $gray-500;
        --bs-table-bg: $gray-900;
        --bs-table-border-color: $gray-900;
        --bs-table-accent-bg: transparent;
        --bs-table-striped-color: $gray-900;
        --bs-table-striped-bg: $gray-900;
        --bs-table-active-color: $gray-500;
        --bs-table-active-bg: $gray-900;
        --bs-table-hover-color: $gray-500;
        --bs-table-hover-bg: $gray-900;
        border-color: $gray-900;
    }

    .custom-select {
        background: $black url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23CED4DA' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
        border-color: $gray-800;
        color: $gray-400;
    }
}
