.inner-addon.right-addon {
	height: 29px;
}

.qm-wrap-interactivechart .qmod-simplechart.qmod-ui-tool .qmod-main-chart {
	height: 450px;
}

.qmod-heading.qmod-hbg {
	display: none;
}

.qtool .qmod-dropdown-menu li > a.qmod-active {
	background-color: red;
	color: #fff;
}

.qtool .qmod-dropdown-menu li > a:hover {
	background-color: #000;
	color: #fff;
}

.qmod-constituent-data {
	width: 100%;
}

.qtool .qmod-index-summary {
	max-width: 100%;
	margin: auto;
}

.qtool .qmod-btn.qmod-darkblue {
	background: #343a40;
    transition: background .1s ease-in-out;
}

.qtool .qmod-btn.qmod-darkblue:hover {
	background: #212529;
}

.qmod-index-summary .qmod-constituent-data .qmod-constituent-table {
    text-align: left;
}

.qm-wrap-interactivechart .qmod-simplechart.qmod-ui-tool .qmod-chart-buttons-rs .qmod-legend > li {
	background-color: #73FBD3;
	color: #275DAD;
}

.qm-wrap-interactivechart .qmod-simplechart.qmod-ui-tool .qmod-chart-buttons-rs .qmod-legend > li.qmod-active {
	background-color: #275DAD;
    color: #73FBD3;
}

.qm-wrap-interactivechart .qmod-simplechart.qmod-ui-tool .qmod-chart-buttons-rs .qmod-legend > li:hover {
	background-color: #000;
}

.qmod-legend-list-item {
    background-color: #73FBD3 !important;
    border-radius: .25rem !important;
    color: #275DAD !important;
    font-size: 1rem;
}

.card-body {
	padding: .5rem !important;
}

.ball-loader,
.ball-loader:before,
.ball-loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: ball-loader-anim 1.8s infinite ease-in-out;
	animation: ball-loader-anim 1.8s infinite ease-in-out;
}

.ball-loader {
	color: #ddd;
	font-size: 10px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: 0.66s;
	animation-delay: 0.25s;
}

.ball-loader:before,
.ball-loader:after {
	content: '';
	position: absolute;
	top: 0;
}

.ball-loader:before {
	left: -3.5em;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.ball-loader:after {
	left: 3.5em;
	-webkit-animation-delay: 0.82s;
	animation-delay: 0.82s;
}

@-webkit-keyframes ball-loader-anim {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}

	40% {
		box-shadow: 0 2.5em 0 0;
	}

}

@keyframes ball-loader-anim {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}

	40% {
		box-shadow: 0 2.5em 0 0;
	}

}

/* Quote Media Footer */
.qmf-link {
	white-space: nowrap;
}

.qmf-logo {
	padding-top: 5px;
}

.qmf-rt,
.qmf-non-rt {
	font-style: italic;
	font-weight: bold;
}

.qmf-non-rt {
	color: #333;
}

.qmf-rt {
	color: #080;
}

/* Fixing Flex and Alignment */
.qmod-chart-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.qmod-legend.qmod-legend-list {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.qmod-chart-btns {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.qmod-chart-buttons-rs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: left;
}

.qmod-chart-buttons-rs .qmod-legend.qmod-lnd-time {
  margin-left: 0;
  margin-right: auto;
}

.qmod-constituent-data h2 {
	text-align: left;
}

.qmod-block-wrapper {
	margin-bottom: 0;
}